.env
__pycache__/
.venv/
*.pyc
.DS_Store
# Jupyter Notebooks
MVP_Warpzone.ipynb

# Jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Zip files
[EXT] Warpzone AI -- AI x Gaming Weekly -- Naavik.zip